!.gitignore

AppData/
node_modules/
.tmp/
tmp-*
build/
dist*/
docs/test-reports/*.json

.env
.npmrc

/public/assets
**/.DS_Store
**/reports/
**/target/
**/Cargo.lock
rust_audio_engine/.cargo/

vendor/LibreHardwareMonitor/*
!vendor/LibreHardwareMonitor/README.md

/WebIndexTTS2/tmp-output/
