!.gitignore

AppData/
node_modules/
.tmp/
tmp-*
build/
dist*/
docs/test-reports/*.json

1-先运行-UniStudy安装包.exe
2-免安装备用-UniStudy/
UniStudy-contest/

.env
.npmrc

/public/assets
**/.DS_Store
**/reports/
**/target/
**/Cargo.lock
rust_audio_engine/.cargo/

vendor/LibreHardwareMonitor/*
!vendor/LibreHardwareMonitor/README.md

/WebIndexTTS2/tmp-output/
